h2
  = `Author: ${book.author}`
  |  | 
  = `Genre: ${book.genre}`
  |  | 
  = `Year: ${book.year}`
  p
    if (book.wikiLink !== null)
      a(href=`${book.wikiLink}`, target="_blank")= `Wiki Link: Read more about "${book.title}"`
    else
      = `Wiki Link: I'm sorry, there is no link to read more about "${book.title}".`